form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 500px;
  /* Form outline */
  padding: 2em;
  border: 1px solid #CCC;
  border-radius: 1em;
}


h2 {
	/* Center the h2 tags */
	text-align: center;
	 
 }

div {
	/* Give some space to the buttons so its not super close to 
	   the date picker*/
	margin-top: 0.5em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: left;
}

p {
  /* Uniform size & alignment */
  display: inline-block;
  width: 120px;
  text-align: left;
}

input {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

label.radio {
  /* Make the labels closer to radio buttons and align them to the left */
  text-align: left;
  width: 30px;


}

input.radio{
	/* Make radio buttons closer to label */
	text-align: left;
	width: 20px;
	
}


input:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 1em;
}

